body {
    background-color:whitesmoke;
    font-style: italic;
}

h1, h3, #totalPrice {
    font-family: 'Times New Roman';
    font-style: italic;
    
}

h3 { 
    color: whitesmoke;
    font-size: 20px;
    
}

h1 {
    color: whitesmoke;
    -webkit-text-stroke: 1.25px;
    -webkit-text-stroke-color: black;
    font-size: 70px;
}

#menuBG {
    width: 700px;
    height: 650px;
    margin: auto;
    background-color: #322F2F;
    border: 2px;
    border-radius: 15px;
    margin-top: -15px;
}

#frmMenu {
    width: 1000px;
    height: 500px;
    margin: auto;
}

.menu-container {
    flex-wrap: wrap;
    white-space: normal;
    width: 800px;
    margin: auto;
    color: whitesmoke;
}

.menu-title {
    text-align: left;
    padding-top: 25px;
    margin-left: 95px;
}

img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 40px;
    right: 500px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: left;
    padding-top: 30px;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
    
}

.middle {
   float: left;
   padding-right: 35px;
}

.right {
    width: 200px;
    height: 200px;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: auto;
    width: 100px;
    height: 40px;
    font-weight: bold;
    background-color: whitesmoke;
    border: solid 1px #322F2F;
    color: #322F2F;
    font-family: 'Times New Roman';
    font-style: italic;
}

#btnOrder:hover {
    background-color: rgb(221, 221, 221);
}